/** white **/
.white {
    color: var(--color-white);
}
.bg-white {
    background-color: var(--color-white);
}

/** black **/
.black {
    color: var(--color-black);
}
.bg-black {
    background-color: var(--color-black);
}

/** blue **/
.blue {
    color: var(--color-blue);
}
.bg-blue {
    background-color: var(--color-blue);
}

/** cyan **/
.cyan {
    color: var(--color-cyan);
}
.bg-cyan {
    background-color: var(--color-cyan);
}

/** red **/
.red {
    color: var(--color-red);
}
.bg-red {
    background-color: var(--color-red);
}

/** purple **/
.purple {
    color: var(--color-purple);
}
.bg-purple {
    background-color: var(--color-purple);
}

/** green **/
.green {
    color: var(--color-green);
}
.bg-green {
    background-color: var(--color-green);
}

/** light-red **/
.light-red {
    color: var(--color-light-red);
}
.bg-light-red {
    background-color: var(--color-light-red);
}

/** light-purple **/
.light-purple {
    color: var(--color-light-purple);
}
.bg-light-purple {
    background-color: var(--color-light-purple);
}

/** light-green **/
.light-green {
    color: var(--color-light-green);
}
.bg-light-green {
    background-color: var(--color-light-green);
}
