@font-face {
    font-family: 'Lucifer Sans';
    src: url('../assets/fonts/lucifer-sans/LuciferSans-Light.eot');
    src: url('../assets/fonts/lucifer-sans/LuciferSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Light.woff2') format('woff2'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Light.woff') format('woff'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Light.ttf') format('truetype'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Light.svg#LuciferSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lucifer Sans';
    src: url('../assets/fonts/lucifer-sans/LuciferSans-Medium.eot');
    src: url('../assets/fonts/lucifer-sans/LuciferSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Medium.woff2') format('woff2'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Medium.woff') format('woff'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Medium.ttf') format('truetype'),
        url('../assets/fonts/lucifer-sans/LuciferSans-Medium.svg#LuciferSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

