.footer-nav,
.bottom-nav {
    margin-left: 0;
    padding-left: 0;
}

.footer-nav > li {
    list-style: none;
    padding-bottom: 25px;
}

.bottom-nav {
    display: flex;
    align-items: center;
}

.bottom-nav > li {
    list-style: none;
    flex-grow: 1;
}

.bottom-nav > li a {
    font-size: .8rem;
}